.tile {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: gray;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  color: black;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
}

.tile h4 {
  text-align: center;
}

.tile:hover {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navigation {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: white;
  color: deepskyblue;
  border-color: deepskyblue;
  border-radius: 32px;
  padding: 14px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  border-width: 1px;
  margin-top: 15px;
}

input {
  width: 400px;
  height: 50px;
  padding: 18px;
  font-size: 18px;
}