<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
    <div class="container">
        <div class="navigation">
            <a href="../">< Back to First Steps</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="column">
        <h1>Place a Facebook ad</h1>
        <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
        <p>Who would you like to call this ad?</p>
        <input type="text" placeholder="My awesome facebook ad">
        <button>Create ad</button>
    </div>
</div>
</body>
</html>
