<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Welcome back!</h1>
    <p>What is the first thing you would like to do?</p>

  </div>
</div>
<div class="container">
  <div class="row">
    <section class="tile">
      <h4>Add contacts to your contacts list</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>5 minutes</p>
    </section>
    <a class="tile" href="../thankYou">
      <h4>Send a quick "thank you"</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>5 minutes</p>
    </a>
    <a class="tile" href="../collectLeads">
      <h4>Collect leads on a web page</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>10 - 30 minutes</p>
    </a>
    <a class="tile" href="../facebookAd">
      <h4>Place a Facebook ad</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>15 minutes</p>
    </a>
    <section class="tile">
      <h4>Set up "Happy Birthday" emails</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>15 minutes</p>
    </section>
    <section class="tile">
      <h4>Send a "Let's meet" message</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>5 minutes</p>
    </section>
    <section class="tile">
      <h4>Schedule appointments online</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>30 minutes</p>
    </section>
    <section class="tile">
      <h4>Set up a new customer email series</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>30 minutes</p>
    </section>
    <section class="tile">
      <h4>Send a coupon email</h4>
      <img src="https://static1.squarespace.com/static/54e8ba93e4b07c3f655b452e/t/56c2a04520c64707756f4267/1493764650017/" style="border-radius: 50%;" width="100" height="100">
      <p>5 minutes</p>
    </section>
  </div>
</div>
</body>
</html>
